.popup__close-icon {
  width: 32px;
  height: 32px;
  position: relative;
  left: 470px;
  bottom: 190px;
  opacity: 1;
}
.popup__close-icon:hover {
  opacity: 0.5;
  cursor: pointer;
}

@media screen and (max-width: 950px) {
  .popup__close-icon {
    left: 280px;
    bottom: 190px;
    width: 20px;
    height: 20px;
  }
}
